p{
	color:white;
	text-align: center;
	font-family: simplex;

}
h4{
	color:white;
	text-align: center;
	font-family: simplex;
	margin-top: 1px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 1rem;

}
.head {
	
	margin-bottom:20px;
	padding:4px;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto:;
    width: 53.5%;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 30px;


    
}
body{
	background:black;
	background: linear-gradient( -270deg, #9c9c9c, #393939);
	background-image: url(./background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	text-align: center;
	font-family: RomanD;
	
	color:white;
	padding: 1px;
	margin-top: 20px;
	margin-bottom: 1px;
	font-size: 3rem;
	
}
h3{
	display:inline-block;
	text-align:center;
	padding: 5px;
	margin-right: 3px;
	margin-left: 3px;
	border-width: 2px;
	border: solid white;
	color:white;
	font-family: simplex;

}
h3:hover{
	background: linear-gradient( -270deg, #9c9c9c, #393939);
}
li {
  color: white;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 45;
  padding: 12px 12px 10px 10px;
  text-transform: uppercase;
  border:solid white;


  
}
li:hover {
	font-size: 20px;
}
.mouse-cursor-gradient-tracking {
  position: relative;
  background: #7983ff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
.mouse-cursor-gradient-tracking span {
  position: relative;
}
.mouse-cursor-gradient-tracking::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, pink, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
.mouse-cursor-gradient-tracking:hover::before {
  --size: 200px;
}
.el {
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
}
.trigger:hover > .el {
  max-height: var(--max-height);
}